SUBSYSTEM=="usb", ATTR{idVendor}=="0bc7", ATTR{idProduct}=="0001", ENV{SYSTEMD_WANTS}="mochad.service"
SUBSYSTEM=="usb", ATTR{idVendor}=="0bc7", ATTR{idProduct}=="0002", ENV{SYSTEMD_WANTS}="mochad.service"
